/** common mixins **/
/* .custom-checkbox */
.custom-checkbox {
  width: 16px;
  height: 16px;
  position: relative;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.custom-checkbox label {
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}
.custom-checkbox label:after {
  content: '';
  width: 7px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 2px solid #43ac8c;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.custom-checkbox label:hover::after {
  opacity: 0;
}
.custom-checkbox input[type=checkbox] {
  visibility: hidden;
}
.custom-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.custom-checkbox.no-style {
  background: none;
  border: none;
}
.custom-checkbox.no-style label {
  display: none;
}
.custom-checkbox.no-style input[type=checkbox] {
  visibility: visible;
  position: absolute;
  left: 1px;
  top: 1px;
}
@media (max-width: 640px) {
  .custom-checkbox.big {
    width: 41px;
    height: 41px;
  }
  .custom-checkbox.big label {
    width: 39px;
    height: 39px;
  }
  .custom-checkbox.big label:after {
    width: 23px;
    height: 13px;
    left: 7px;
    top: 7px;
    border: 6px solid #000000;
    border-top: none;
    border-right: none;
  }
  .custom-checkbox.middle {
    width: 29px;
    height: 29px;
  }
  .custom-checkbox.middle label {
    width: 27px;
    height: 27px;
  }
  .custom-checkbox.middle label:after {
    width: 13px;
    height: 7px;
    left: 7px;
    top: 7px;
    border: 4px solid #000000;
    border-top: none;
    border-right: none;
  }
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html {
  padding: 0;
  margin: 0;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: black;
  padding: 0;
  margin: 0;
}
body.no-scroll-mode {
  overflow-y: hidden;
}
.template-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
#scene-container {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 90%;
  transition: margin-left 0.5s ease-out;
}
#scene-container.menu-open-mode {
  margin-left: -363px;
}
#invisible-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
}
.bound {
  position: absolute;
  border: 1px solid red;
  margin-left: -1px;
  margin-top: -1px;
  z-index: 1000;
  pointer-events: none;
}
.bound .text {
  position: absolute;
  top: 4px;
  width: 200px;
  height: 20px;
  left: 50%;
  margin-left: -100px;
  color: red;
  text-align: center;
}
@media (max-width: 1024px) {
  body {
    overflow-x: auto;
  }
  #scene-container {
    width: 1024px;
  }
}
@media (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
  #scene-container {
    width: 100%;
  }
}
/** my mixins **/
/** loading **/
#loading {
  position: fixed;
  width: 100%;
  height: 90%;
  background-color: #101010;
  z-index: 99;
}
#loading #loading-icon {
  position: absolute;
  width: 183px;
  height: 103px;
  margin-left: -85px;
  margin-top: -50px;
  left: 50%;
  top: 50%;
  background-image: url("../images/loading.gif");
  background-size: auto;
}
#loading #loading-text {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: #43ac8d;
  font-weight: bold;
  width: 60px;
  height: 30px;
  margin-left: -31px;
  margin-top: -17px;
  text-align: center;
}
/** menu **/
#menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 100;
}
#menu .icon {
  z-index: 2;
  position: absolute;
  width: 53px;
  height: 53px;
  background-color: #3b3b3b;
  right: 16px;
  top: 16px;
  cursor: pointer;
  opacity: 1;
  transition-delay: 0s;
}
#menu .icon .bar-1,
#menu .icon .bar-2,
#menu .icon .bar-3 {
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: white;
  left: 50%;
  top: 50%;
  margin-left: -6px;
}
#menu .icon .bar-1 {
  margin-top: -9px;
}
#menu .icon .bar-2 {
  margin-top: -1px;
}
#menu .icon .bar-3 {
  margin-top: 7px;
}
#menu .icon.hide-mode {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.5s, opacity 0.5s ease-out;
}
#menu .container {
  position: absolute;
  left: 0;
  width: 363px;
  height: 100%;
  background-color: #1a1a1a;
  transition: left 0.5s ease-out;
}
#menu .container.open-mode {
  left: -363px;
}
#menu .container .layout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/layouts/menu-pc.jpg");
  background-size: auto;
  opacity: .3;
}
#menu .container .button-group {
  position: absolute;
  left: 59px;
  top: 70px;
}
#menu .container .button-group .item-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 214px;
  height: 50px;
}
#menu .container .button-group .item-1 .normal-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: 0 0;
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
}
#menu .container .button-group .item-2 {
  position: absolute;
  left: 0;
  top: 50px;
  width: 214px;
  height: 40px;
}
#menu .container .button-group .item-2 .normal-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: 0 -50px;
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
}
#menu .container .button-group .item-2 .hover-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: -214px -50px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-2:hover {
  cursor: pointer;
}
#menu .container .button-group .item-2:hover .normal-state {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-2:hover .hover-state {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#menu .container .button-group .item-3 {
  position: absolute;
  left: 0;
  top: 90px;
  width: 214px;
  height: 40px;
}
#menu .container .button-group .item-3 .normal-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: 0 -90px;
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
}
#menu .container .button-group .item-3 .hover-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: -214px -90px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-3:hover {
  cursor: pointer;
}
#menu .container .button-group .item-3:hover .normal-state {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-3:hover .hover-state {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#menu .container .button-group .item-4 {
  position: absolute;
  left: 0;
  top: 130px;
  width: 214px;
  height: 40px;
}
#menu .container .button-group .item-4 .normal-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: 0 -130px;
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
}
#menu .container .button-group .item-4 .hover-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: -214px -130px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-4:hover {
  cursor: pointer;
}
#menu .container .button-group .item-4:hover .normal-state {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-4:hover .hover-state {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#menu .container .button-group .item-5 {
  position: absolute;
  left: 0;
  top: 180px;
  width: 214px;
  height: 35px;
}
#menu .container .button-group .item-5 .normal-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: 0 -180px;
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
}
#menu .container .button-group .item-6 {
  position: absolute;
  left: 0;
  top: 218px;
  width: 214px;
  height: 40px;
}
#menu .container .button-group .item-6 .normal-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: 0 -218px;
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
}
#menu .container .button-group .item-6 .hover-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: -214px -218px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-6:hover {
  cursor: pointer;
}
#menu .container .button-group .item-6:hover .normal-state {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-6:hover .hover-state {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#menu .container .button-group .item-7 {
  position: absolute;
  left: 0;
  top: 258px;
  width: 214px;
  height: 40px;
}
#menu .container .button-group .item-7 .normal-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: 0 -258px;
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
}
#menu .container .button-group .item-7 .hover-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: -214px -258px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-7:hover {
  cursor: pointer;
}
#menu .container .button-group .item-7:hover .normal-state {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-7:hover .hover-state {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#menu .container .button-group .item-8 {
  position: absolute;
  left: 0;
  top: 298px;
  width: 214px;
  height: 40px;
}
#menu .container .button-group .item-8 .normal-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: 0 -298px;
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
}
#menu .container .button-group .item-8 .hover-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: -214px -298px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-8:hover {
  cursor: pointer;
}
#menu .container .button-group .item-8:hover .normal-state {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-8:hover .hover-state {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#menu .container .button-group .item-9 {
  position: absolute;
  left: 0;
  top: 348px;
  width: 214px;
  height: 40px;
}
#menu .container .button-group .item-9 .normal-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: 0 -348px;
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
}
#menu .container .button-group .item-9 .hover-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: -214px -348px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-9:hover {
  cursor: pointer;
}
#menu .container .button-group .item-9:hover .normal-state {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-9:hover .hover-state {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#menu .container .button-group .item-10 {
  position: absolute;
  left: 0;
  top: 388px;
  width: 214px;
  height: 40px;
}
#menu .container .button-group .item-10 .normal-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: 0 -388px;
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
}
#menu .container .button-group .item-10 .hover-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: -214px -388px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-10:hover {
  cursor: pointer;
}
#menu .container .button-group .item-10:hover .normal-state {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-10:hover .hover-state {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#menu .container .button-group .item-11 {
  position: absolute;
  left: 0;
  top: 428px;
  width: 54px;
  height: 54px;
}
#menu .container .button-group .item-11 .normal-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: 0 -428px;
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
}
#menu .container .button-group .item-11 .hover-state {
  position: absolute;
  background-image: url("../images/menu-buttons.png");
  background-size: auto;
  width: 100%;
  height: 100%;
  background-position: -214px -428px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-11:hover {
  cursor: pointer;
}
#menu .container .button-group .item-11:hover .normal-state {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#menu .container .button-group .item-11:hover .hover-state {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
/** logo **/
#logo {
  position: fixed;
  left: 28px;
  top: 19px;
  width: 91px;
  height: 70px;
  background-image: url("../images/logo-top.png");
  background-size: auto;
  z-index: 100;
  transition: opacity .4s linear;
}
#logo .logo-bottom {
  position: absolute;
  left: -3px;
  top: 81px;
  width: 97px;
  height: 11px;
  margin-left: 0px;
  margin-top: 0px;
  background-image: url("../images/logo-bottom.png");
  background-size: auto;
}
#logo.hide-mode {
  opacity: 0;
}
/** footer **/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-image: url("../images/footer.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #121212;
  transition: margin-left 0.5s ease-out;
}
.footer.menu-open-mode {
  margin-left: -363px;
}
/** law page **/
#law-page {
  position: fixed;
  width: 100%;
  height: 90%;
  background-image: url("../images/participate-1-background.jpg");
  background-size: cover;
  visibility: hidden;
}
#law-page .layout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/layouts/law-page-pc.jpg");
  background-size: auto;
  opacity: .3;
}
#law-page .content {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -392px;
  margin-top: -218px;
  width: 780px;
  height: 445px;
  background-image: url("../images/law-page-content-0.png");
  background-size: auto;
}
#law-page .content select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/select-arrow.png") no-repeat;
  background-color: #717171;
  background-position: 183px 16px;
  height: 41px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-align-last: center;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: #697085;
}
#law-page .content select option {
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: black;
  background: white;
  text-align: center;
  text-align-last: center;
}
#law-page .content select optgroup {
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: black;
  background: white;
  text-align: center;
  text-align-last: center;
}
#law-page .content select::-ms-expand {
  display: none;
}
#law-page .content .btn-send {
  position: absolute;
  left: 279px;
  top: 313px;
  width: 223px;
  height: 52px;
}
#law-page .content .btn-send .normal-state {
  position: absolute;
  background-image: url("../images/law-page-btn-send.png");
  background-size: auto;
  width: 223px;
  height: 52px;
  background-position: 0 0;
  pointer-events: none;
  opacity: 1;
  transition-delay: 0s;
}
#law-page .content .btn-send .hover-state {
  position: absolute;
  background-image: url("../images/law-page-btn-send.png");
  background-size: auto;
  width: 223px;
  height: 52px;
  background-position: 0 -100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#law-page .content .btn-send:hover {
  cursor: pointer;
}
#law-page .content .btn-send:hover .normal-state {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#law-page .content .btn-send:hover .hover-state {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#law-page .content .birthday-fields {
  position: absolute;
  left: 75px;
  top: 225px;
}
#law-page .content .birthday-fields .select-year,
#law-page .content .birthday-fields .select-month,
#law-page .content .birthday-fields .select-day {
  position: absolute;
  width: 209px;
  color: white;
}
#law-page .content .birthday-fields .select-month {
  left: 210px;
}
#law-page .content .birthday-fields .select-day {
  left: 420px;
}
/** participate **/
#participate {
  position: absolute;
  width: 100%;
  height: 100%;
}
#participate .text-animation {
  position: absolute;
  width: 100%;
  height: 100%;
}
#participate .part-1 {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-image: url("../images/participate-1-background.jpg");
  background-size: cover;
  background-position: center center;
}
#participate .part-1 .layout {
  background-image: url("../images/layouts/participate-1-pc.jpg");
  background-size: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1920px;
  height: 700px;
  margin-left: -960px;
  margin-top: -350px;
  opacity: .3;
}
#participate .part-1 .wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
}
#participate .part-1 .wrapper .logo {
  position: absolute;
  left: -83%;
  top: -117%;
  width: 167%;
  height: 127%;
  background-image: url("../images/participate-1-logo.png");
  background-size: cover;
}
#participate .part-1 .wrapper .title-1 {
  position: absolute;
  left: -150%;
  top: 27%;
  width: 291%;
  height: 37%;
  background-image: url("../images/participate-1-title-1.png");
  background-size: cover;
}
#participate .part-1 .wrapper .title-2 {
  position: absolute;
  left: -60%;
  top: 81%;
  width: 119%;
  height: 34%;
  background-image: url("../images/participate-1-title-2.png");
  background-size: cover;
}
#participate .part-1 .arrow-down {
  position: absolute;
  left: -31px;
  top: 287px;
  width: 60px;
  height: 60px;
  margin-left: 0px;
  margin-top: 0px;
  background-image: url("../images/participate-1-arrow-down.png");
  background-size: auto;
  cursor: pointer;
  top: auto;
  left: 50%;
  margin-left: -30px;
  bottom: 40px;
  animation: float-arrow 2s infinite;
}
@keyframes float-arrow {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 40px;
  }
}
#participate .part-2 {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
@media (min-width: 1920px) {
  #participate .part-2 {
    height: 0;
    padding-bottom: 36.45833333%;
  }
}
#participate .part-2 .wrapper {
  position: absolute;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  height: 100%;
  background-image: url("../images/participate-2-background.jpg");
  background-size: cover;
  background-position: center center;
}
@media (min-width: 1920px) {
  #participate .part-2 .wrapper {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
#participate .part-2 .wrapper .layout {
  background-image: url("../images/layouts/participate-2-pc.jpg");
  background-size: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1920px;
  height: 700px;
  margin-left: -960px;
  margin-top: -350px;
  opacity: .3;
}
#participate .part-2 .wrapper .content {
  position: absolute;
  width: 23.4375%;
  height: 38%;
  left: 23.64583333%;
  top: 27.71428571%;
  background-image: url("../images/participate-2-content.png");
  background-size: cover;
}
#participate .part-3 {
  position: relative;
  width: 100%;
  height: 1281px;
  min-height: 111.1111%;
  transition: height 1s ease-in-out;
  overflow: hidden;
  background-image: url("../images/participate-3-background.jpg");
  background-size: cover;
  background-position: center center;
}
#participate .part-3.close-mode {
  min-height: 0;
  height: 0;
}
#participate .part-3 .layout {
  background-image: url("../images/layouts/participate-3-pc.jpg");
  background-size: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1920px;
  height: 1148px;
  margin-left: -960px;
  margin-top: -574px;
  opacity: .3;
}
#participate .part-3 .wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-top: 30px;
}
#participate .part-3 .wrapper .title {
  position: absolute;
  left: -503%;
  top: -583%;
  width: 415%;
  height: 43%;
  background-image: url("../images/participate-3-title.png");
  background-size: cover;
}
#participate .part-3 .wrapper .content {
  position: absolute;
  left: -498%;
  top: -492%;
  width: 1001%;
  height: 520%;
  background-image: url("../images/participate-3-content.png");
  background-size: cover;
}
#participate .part-3 .wrapper .dates {
  position: absolute;
  left: 52%;
  top: -328%;
  width: 129%;
  height: 274%;
  background-image: url("../images/participate-3-dates.png");
  background-size: cover;
}
#participate .part-3 .wrapper .form {
  position: absolute;
  left: -499%;
  top: 91%;
  width: 1000%;
  height: 233%;
  background-image: url("../images/participate-3-form.png");
  background-size: cover;
}
#participate .part-3 .wrapper .btn-send {
  position: absolute;
  left: 278px;
  top: 377px;
  width: 223px;
  height: 52px;
}
#participate .part-3 .wrapper .btn-send .normal-state {
  position: absolute;
  background-image: url("../images/participate-3-btn-send.png");
  background-size: auto;
  width: 223px;
  height: 52px;
  background-position: 0 0;
  pointer-events: none;
  opacity: 1;
  transition-delay: 0s;
}
#participate .part-3 .wrapper .btn-send .hover-state {
  position: absolute;
  background-image: url("../images/participate-3-btn-send.png");
  background-size: auto;
  width: 223px;
  height: 52px;
  background-position: 0 -100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#participate .part-3 .wrapper .btn-send:hover {
  cursor: pointer;
}
#participate .part-3 .wrapper .btn-send:hover .normal-state {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.4s, opacity 0.4s ease-out;
}
#participate .part-3 .wrapper .btn-send:hover .hover-state {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#participate .part-3 .wrapper .eula-text {
  position: absolute;
  left: -466%;
  top: 379%;
  width: 353%;
  height: 13%;
  background-image: url("../images/participate-3-eula.png");
  background-size: cover;
}
#participate .part-3 .wrapper .btn-rule {
  position: absolute;
  left: -349%;
  top: 375%;
  width: 62%;
  height: 21%;
}
#participate .part-3 .wrapper .btn-privacy {
  position: absolute;
  left: -275%;
  top: 375%;
  width: 165%;
  height: 21%;
}
#participate .part-3 .wrapper .btn-rule,
#participate .part-3 .wrapper .btn-privacy {
  cursor: pointer;
}
#participate .part-3 .wrapper .checkbox {
  position: absolute;
  left: -500px;
  top: 376px;
}
#participate .part-3 .wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/select-arrow.png") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-position: right 9px;
  height: 24px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-align-last: center;
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: #697085;
}
#participate .part-3 .wrapper select option {
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: black;
  background: white;
  text-align: center;
  text-align-last: center;
}
#participate .part-3 .wrapper select optgroup {
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: black;
  background: white;
  text-align: center;
  text-align-last: center;
}
#participate .part-3 .wrapper select::-ms-expand {
  display: none;
}
#participate .part-3 .wrapper .birthday-fields {
  position: absolute;
  left: -391px;
  top: 282px;
  width: 600px;
}
#participate .part-3 .wrapper .birthday-fields #select-year,
#participate .part-3 .wrapper .birthday-fields #select-month,
#participate .part-3 .wrapper .birthday-fields #select-day {
  position: absolute;
  width: 264px;
  color: white;
}
#participate .part-3 .wrapper .birthday-fields #select-month {
  left: 302px;
}
#participate .part-3 .wrapper .birthday-fields #select-day {
  left: 603px;
}
#participate .part-3 .wrapper .event-select {
  position: absolute;
  left: -395px;
  top: 165px;
  width: 573px;
  text-align: left;
  text-align-last: left;
}
#participate .part-3 .wrapper .event-select option {
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: black;
  background: white;
  text-align: left;
  text-align-last: left;
  text-indent: 0;
}
#participate .part-3 .wrapper .event-select optgroup {
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: black;
  background: white;
  text-align: left;
  text-align-last: left;
}
#participate .part-3 .wrapper .gender-select {
  position: absolute;
  left: 256px;
  top: 106px;
  width: 217px;
}
#participate .part-3 .wrapper input {
  font-family: '微軟正黑體', "Heiti TC", serif;
  font-size: 14px;
  color: white;
  border: none;
  background: none;
  height: 24px;
  width: 100px;
}
#participate .part-3 .wrapper input.hint-mode {
  color: #697085;
}
#participate .part-3 .wrapper .user-name {
  position: absolute;
  left: -393px;
  top: 105px;
  width: 500px;
}
#participate .part-3 .wrapper .user-email {
  position: absolute;
  left: -393px;
  top: 224px;
  width: 500px;
}
#participate .part-3 .wrapper .user-phone {
  position: absolute;
  left: 298px;
  top: 166px;
  width: 160px;
  text-align: center;
}
#participate .part-3 .wrapper .time-group-1,
#participate .part-3 .wrapper .time-group-2,
#participate .part-3 .wrapper .time-group-3 {
  position: absolute;
  width: 366px;
  height: 63px;
  left: 52px;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(1),
#participate .part-3 .wrapper .time-group-2 .time:nth-child(1),
#participate .part-3 .wrapper .time-group-3 .time:nth-child(1) {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 18px;
  background-image: url("../images/participate-3-times.png");
  background-size: auto;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(1).filled,
#participate .part-3 .wrapper .time-group-2 .time:nth-child(1).filled,
#participate .part-3 .wrapper .time-group-3 .time:nth-child(1).filled {
  opacity: .3;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(2),
#participate .part-3 .wrapper .time-group-2 .time:nth-child(2),
#participate .part-3 .wrapper .time-group-3 .time:nth-child(2) {
  position: absolute;
  left: 120px;
  top: 0px;
  width: 130px;
  height: 18px;
  background-image: url("../images/participate-3-times.png");
  background-size: auto;
  background-position: -120px 0px;
  background-repeat: no-repeat;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(2).filled,
#participate .part-3 .wrapper .time-group-2 .time:nth-child(2).filled,
#participate .part-3 .wrapper .time-group-3 .time:nth-child(2).filled {
  opacity: .3;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(3),
#participate .part-3 .wrapper .time-group-2 .time:nth-child(3),
#participate .part-3 .wrapper .time-group-3 .time:nth-child(3) {
  position: absolute;
  left: 250px;
  top: 0px;
  width: 130px;
  height: 18px;
  background-image: url("../images/participate-3-times.png");
  background-size: auto;
  background-position: -250px 0px;
  background-repeat: no-repeat;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(3).filled,
#participate .part-3 .wrapper .time-group-2 .time:nth-child(3).filled,
#participate .part-3 .wrapper .time-group-3 .time:nth-child(3).filled {
  opacity: .3;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(4),
#participate .part-3 .wrapper .time-group-2 .time:nth-child(4),
#participate .part-3 .wrapper .time-group-3 .time:nth-child(4) {
  position: absolute;
  left: 0px;
  top: 22px;
  width: 120px;
  height: 18px;
  background-image: url("../images/participate-3-times.png");
  background-size: auto;
  background-position: 0px -22px;
  background-repeat: no-repeat;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(4).filled,
#participate .part-3 .wrapper .time-group-2 .time:nth-child(4).filled,
#participate .part-3 .wrapper .time-group-3 .time:nth-child(4).filled {
  opacity: .3;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(5),
#participate .part-3 .wrapper .time-group-2 .time:nth-child(5),
#participate .part-3 .wrapper .time-group-3 .time:nth-child(5) {
  position: absolute;
  left: 120px;
  top: 22px;
  width: 130px;
  height: 18px;
  background-image: url("../images/participate-3-times.png");
  background-size: auto;
  background-position: -120px -22px;
  background-repeat: no-repeat;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(5).filled,
#participate .part-3 .wrapper .time-group-2 .time:nth-child(5).filled,
#participate .part-3 .wrapper .time-group-3 .time:nth-child(5).filled {
  opacity: .3;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(6),
#participate .part-3 .wrapper .time-group-2 .time:nth-child(6),
#participate .part-3 .wrapper .time-group-3 .time:nth-child(6) {
  position: absolute;
  left: 250px;
  top: 22px;
  width: 130px;
  height: 18px;
  background-image: url("../images/participate-3-times.png");
  background-size: auto;
  background-position: -250px -22px;
  background-repeat: no-repeat;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(6).filled,
#participate .part-3 .wrapper .time-group-2 .time:nth-child(6).filled,
#participate .part-3 .wrapper .time-group-3 .time:nth-child(6).filled {
  opacity: .3;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(7),
#participate .part-3 .wrapper .time-group-2 .time:nth-child(7),
#participate .part-3 .wrapper .time-group-3 .time:nth-child(7) {
  position: absolute;
  left: 0px;
  top: 48px;
  width: 120px;
  height: 18px;
  background-image: url("../images/participate-3-times.png");
  background-size: auto;
  background-position: 0px -48px;
  background-repeat: no-repeat;
}
#participate .part-3 .wrapper .time-group-1 .time:nth-child(7).filled,
#participate .part-3 .wrapper .time-group-2 .time:nth-child(7).filled,
#participate .part-3 .wrapper .time-group-3 .time:nth-child(7).filled {
  opacity: .3;
}
#participate .part-3 .wrapper .time-group-1 {
  top: -291px;
}
#participate .part-3 .wrapper .time-group-2 {
  top: -167px;
}
#participate .part-3 .wrapper .time-group-3 {
  top: -39px;
}
/** participate rule **/
#participate-rule {
  position: fixed;
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url("../images/participate-3-background.jpg");
  background-size: cover;
}
#participate-rule .container {
  position: absolute;
  width: 1200px;
  height: 1730px;
  left: 50%;
  margin-left: -600px;
}
#participate-rule .container .content {
  position: absolute;
  left: 130px;
  top: 63px;
  width: 962px;
  height: 1576px;
  background-image: url("../images/participate-rule-content.png");
  background-size: auto;
}
#participate-rule .btn-close {
  position: fixed;
  width: 53px;
  height: 53px;
  right: 29px;
  top: 16px;
  background-color: #3b3b3b;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
#participate-rule .btn-close.showing-mode {
  opacity: 1;
}
#participate-rule .btn-close .btn-close-x {
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url("../images/btn-close-x.png");
  background-size: auto;
  left: 50%;
  top: 50%;
  margin-left: -8.5px;
  margin-top: -8.5px;
  transform-origin: center center;
  transition: transform 0.4s ease-out;
}
#participate-rule .btn-close:hover {
  cursor: pointer;
}
#participate-rule .btn-close:hover .btn-close-x {
  transform: rotate(90deg);
}
