@mobile-content-width: 640px;
@mobile-content-height: 855px;

@mobile-content-half-width: @mobile-content-width * .5;
@mobile-content-half-height: @mobile-content-height * .5;

@media (max-width: @mobile-width)
{
    #scene-container{
        overflow-x: hidden;
    }

    #logo {
        left: 18px;
        top: 15px;
        width: 102px;
        height: 77px;
        .image-bg("logo-top.m.png");
    }

    /** intro **/
    #intro{

        position: absolute;
        width: 100%;
        height: 100%;
        min-height: @mobile-content-height;

        .background{
            position: absolute;
            width: 100%;
            height: 100%;
            .image-bg("intro-background.m.jpg", cover);
        }

        .my-layout("layouts/intro-m.jpg");


        .intro-video{
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .intro-animation{
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .wrapper{
            .percent-container();

            .percent-div(left-content, -261,-398,516,239, "intro-content.m.png");

            .btn-play{

                .percent-div(none, -184,-141, 361, 99);
            }
        }

        .btn-skip{
            position: absolute;
            right: 70px;
            bottom: 40px;
            width: 77px;
            height: 20px;

            .image-bg("intro-btn-skip.png");
            cursor: pointer;
            &:active{
                margin-right: -1px;
            }

            .enable-hide();
        }

    }

    /** story **/
    #story{

        min-height: @mobile-content-height;

        .story-popup-container(@layout-src: none){
            position: absolute;
            width: 100%;
            height: 100%;

            overflow: hidden;


            background: rgba(0,0,0,.85);


            & when not (@layout-src = none){
                .layout(@layout-src);
            }

            .common-btn-close();
        }

        /** story buttons **/
        .buttons{
            z-index: 3;
            position: absolute;
            right: 86px;
            top:125px;

            width: 0;
            height: 0;

            @w: 75;
            @h: 75;
            @gap: @h + 13;

            .fade-btn-2(btn-evidence, "story-btn-evidence.m.png", 0, @gap*0, @w, @h);
            .fade-btn-2(btn-help, "story-btn-help.m.png", 0, @gap*1, @w, @h);
            .fade-btn-2(btn-sound, "story-btn-sound.m.png", 0, @gap*2, @w, @h);
            .fade-btn-2(btn-fullscreen, "story-btn-fullscreen.m.png", 0, @gap*3, @w, @h);
            .fade-btn-2(btn-exit, "story-btn-exit.m.png", 0, @gap*4, @w, @h);

            .btn-sound{
                .normal-state, .hover-state{
                    background-size:auto;
                }
                &.off-mode{
                    .normal-state{
                        background-position: right top;
                    }
                    .hover-state{
                        background-position: right bottom;
                    }
                }
            }

            .btn-evidence{
                .news-hint{
                    .abs-div-2(none, 0, 62, 75, 16, "story-btn-evidence-hint.m.png");
                    visibility: hidden;
                }

                &.news-mode{
                    .news-hint{
                        visibility: visible;
                    }
                }
            }

            transition: right .5s ease-in;

            &.hide-mode{
                top: 125px;
//                transition: top .5s ease-in;
                right: -80px;
                transition: right .5s ease-in;

            }
        }

        /** story evidences **/
        .evidences{

            @size: 1760px;

            .story-popup-container("layouts/story-evidences-m.jpg");

            .center-container{
                position: absolute;

                left:50%;
                top: 50%;

                width: @size;
                margin-left: -@size * .5;

                margin-top: 13px;
            }

            .arrow-left{
                position: absolute;
                .image-bg("evidence-arrow-left.m.png");
                width: 46px;
                height: 88px;
                margin-left: -80px;
                left:0;

                cursor: pointer;

                &:active{
                    margin-left: -81px;
                }
            }

            .arrow-right{
                position: absolute;
                .image-bg("evidence-arrow-right.m.png");
                width: 46px;
                height: 88px;
                margin-right: -80px;
                right:0;

                cursor: pointer;

                &:active{
                    margin-right: -81px;
                }
            }

            .arrow-left, .arrow-right{

                margin-top: -46px;
                z-index: 10;

                .enable-hide();
            }


            .clips{
                position: absolute;
                left:0;
                top: 4px;

                @clip-width: 325px;
                @clip-height: 400px;

                @gap-x: 270px;

                .my-mixin(key, 1);
                .my-mixin(phone, 2);
                .my-mixin(map, 3);
                .my-mixin(billboard, 4);
                .my-mixin(wineglass, 5);
                .my-mixin(medal, 6);
                .my-mixin(briefcase, 7);
                .my-mixin(locked, 8);

                .clip-locked{
                    .icon{
                        .image-bg("evidence-icon-locked.gif", cover);
                        width: 200px;
                        height: 276.82px;
                        left: 64px;
                        top: 67px;
                    }
                }

                //            .ciip-wineglass{
                //                .icon{
                //                    width: 149px;
                //                    height: 171px;
                //                }
                //            }

                .my-mixin(@type; @index)
                {

                    .clip-@{type}{
                        position: absolute;
                        width: @clip-width;
                        height: @clip-height;
                        margin-left: -@clip-width * .5;
                        margin-top: -@clip-height * .5;

                        .image-bg("evidence-clip.m.png");

                        left: (@index - 1) * @gap-x;

                        cursor: pointer;

                        .icon{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            .image-bg("evidence-icon-@{type}.m.png");
                        }

                        &.lock-mode{

                            cursor: default;

                            .icon{
                                //.image-bg("evidence-icon-locked.png");
                                .image-bg("evidence-icon-locked.gif", cover);
                                width: 200px;
                                height: 276.82px;
                                left: 64px;
                                top: 67px;
                            }
                        }

                        .enable-hide(.4s, ease-in);

                    }
                }
            }
        }

        /** story dialog **/
        .dialog{
            .default-font(24px, white);
        }

        /** story key **/
        .key-popup{
            .content{
                .percent-div(key-pic, -212, -250, 436, 444, "story-key-pic.m.png");
            }
        }

         /** story phone **/
        .phone-popup{

            .story-popup-container("layouts/story-phone-m.jpg");

            background-color: black;

            .content{
                .percent-container();

                .phone-basement{
                    .percent-div(none, -320, -817, 640, 1450, "story-phone-mailbox.m.jpg");
                    .unselectable();
                    touch-action: none;
                    opacity: 1;
                }

                .quez-container{
                    .percent-container(absolute, 88%, 88%, 0, -32%);

                    .percent-div(title, -54, -375, 106, 25, "phone-number-title.png");
                }



                .bingo{
                    .percent-div(none, -238, -235,472,475,"story-phone-bingo.png");
                }

                .honey{
                    .percent-div(none, -178 * .88, -400 * .88, 421 * .88, 715 * .88, "story-phone-honey.png");
                }
            }
        }

        /** story poster **/
        .poster-popup{

            .story-popup-container("layouts/story-poster-m.jpg");

            .content{
                .percent-container();

                .percent-div(poster-coner, -317, -249, 589, 389, "story-poster-coner.m.png");
            }
        }

        /** story photos **/
        .photos-popup{

            .story-popup-container("layouts/story-photos-m.jpg");

            .content{
                .percent-container();

                .percent-div(photo-1, -255,-157, 271, 198, "story-photos-photo-1.m.png");
                .percent-div(photo-2, -144,8, 292, 234, "story-photos-photo-2.m.png");
                .percent-div(photo-3, -5,-131, 282, 215, "story-photos-photo-3.m.png");
                .percent-div(photo-4, -150,-348, 295, 239, "story-photos-photo-4.m.png");
            }
        }

        /** story billboard **/
        .billboard-popup{

            .story-popup-container("layouts/story-billboard-m.jpg");

            .content{
                .percent-container();
                .percent-div(billboard-pic, -152, -287, 313, 490, "story-billboard-pic.m.png");
            }
        }

        /** story fingerfrint **/
        .fingerprint-popup{


            .story-popup-container("layouts/story-fingerprint-6-m.jpg");

            .system-background{
                position: fixed;
                width: 100%;
                height: 100%;
                .image-bg("story-fingerprint-background.m.jpg", cover);
                background-position: center center;
            }


            &.scrollable-mode{
                overflow-y:auto;
            }


            .content{


                top:420px;

                .wineglass{
                    .percent-div(none, -190, -301, 375, 491, "story-fingerprint-wineglass.m.png");
                }
                .big-badge{
                }
                .system{
                    .percent-container(absolute, 100%, 100%, 0, 0);
                    .badge{
                        display:none;
                    }

                    .percent-div(content, -263, -296, 306, 199, "story-fingerprint-content-1.m.png");
                    .fade-btn-2(btn-share, "story-fingerprint-btn-share.m.png", -261, -51, 287, 61);

                    .percent-div(raw-sample, 62, -295, 203, 305, "story-fingerprint-sample-1.m.png");

                    >.raw-sample-match-circle{
                        .percent-div(none, 147, -192, 141.1, 237.8);
                    }

                    .btn-share{
                        z-index: 1;
                    }
                    .fingerprints{

                        .wrapper{
                            .percent-container(absolute, 100%, 100%, -80%, 80%);
                        }
                    }

                    .fingerprints-2{

                        .percent-container(absolute, 100%, 100%, -291%, 107%);
                    }

                }

                &.shared-mode{

                    top:50%;

                    .system{
                        .content{
                            top: -246%;
                        }
                        .btn-share{
                            top: -1%;
                        }
                        .raw-sample{
                            top: -245%;
                        }
                        >.raw-sample-match-circle{
                            //.percent-div(none, 147, -192, 141.1, 237.8);
                            top: -142%;
                        }

                        .btn-share, .arrow-down, .arrow-up, .fingerprints{
                            opacity: 0;
                            visibility: hidden;
                            display: none;
                            transition: opacity .5s ease-out, visibility 0s linear .5s, display 0s linear .5s;
                        }

                        .fingerprints-2{
                            opacity: 1;
                            visibility: visible;
                            transition: opacity .5s ease-out;
                        }
                    }

                }
            }


            .results{

                position: fixed;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.66);

                left:0;
                top:0;

                .wrapper{

                    .percent-container();

                    .mis-match{
                        left:-233%;
                        top:-245%;
                    }

                    .bingo{
                        .percent-container(absolute, 100%, 100%, 0%, 0%);
                        .percent-div(basement, -247, -345,505,471,"story-fingerprint-matched-base.m.png");
                        .fade-btn-2(btn-ask, "story-fingerprint-btn-ask.m.png", -261, 193, 521, 94);
                    }
                }
            }
        }

        /** story medal **/
        .medal-popup{

            .story-popup-container("layouts/story-medal-m.jpg");

            .content{
                .percent-container();
                .percent-div(medal-pic, -206, -265, 407, 402, "story-medal-pic.m.png");
            }
        }

        /** story briefcase **/
        .briefcase-popup{

            .story-popup-container("layouts/story-briefcase-m.jpg");

            .content{
                .percent-container();
                .percent-div(briefcase-case, -320, -175, 640, 275, "story-briefcase-case.m.png");

                .password-pad{
                    .percent-container(absolute, 86%, 86%, 4%, -38%);
                }

                .btn-unlock{
                    .percent-div(none, -197, 40, 403.34, 67.94, "story-briefcase-btn-unlock-base.png");
                }
            }
        }

    }

    /** intro **/
    #happy-end{

        min-height: @mobile-content-height;

        .background{
            .image-bg("happy-end-background.m.jpg", cover);
            background-position: center center;
            position: fixed;
            height: 90%;
        }

        .my-layout("layouts/happy-end-m.jpg");

        .not-really{
            position: absolute;
            left:50%;
            top:50%;

            .abs-div-2(exit-pic, -320,-429,640,597,"happy-end-exit.m.png");
            .abs-div-2(content, -257,-59,456,233,"happy-end-content-2.m.png");
            .fade-btn-2(btn-to-form-2,"happy-end-btn-to-form-2.m.png", -262,228,521,94);

            //        display:none;
        }

        .first-step{
            position: absolute;
            left:50%;
            top:50%;

            .abs-div-2(open-case, -320,-397,524,493,"happy-end-open-case.m.png");
//            .abs-div-2(content, -310,-184,568,405,"happy-end-content.m.png");
            .abs-div-2(title, -281,-84,395,142,"happy-end-title-1.m.png");
            .abs-div-2(text, -258,67,516,154,"happy-end-text-1.m.png");
            .abs-div-2(stamp, -310,-187,276,166,"happy-end-stamp-1.m.png");
            .fade-btn-2(btn-to-form,"happy-end-btn-to-form.m.png", -262,266,521,94);

            //        display:none;
        }

        .form-step{
            position: absolute;
            left:50%;
            top:50%;

            .form-title{
                display: none;
            }

            .fade-btn-2(btn-send,"happy-end-form-btn-send.m.png", -263,265,521,94);

            .eula-text{
                .abs-div-2(none, -162,162,405,63,"happy-end-form-eula-text.m.png");

                .checkbox{
                    position: absolute;
                    left: -101px;
                    top:1px;

                    .big-checkbox();
                }

                .abs-div-2(btn-rule, 226, -5, 94, 28);
                .abs-div-2(btn-privacy, 337,-5, 74, 28);
                .abs-div-2(btn-privacy-2, -2,38, 186, 28);

                .btn-rule, .btn-privacy, .btn-privacy-2{
                    cursor: pointer;
                }
            }

            .form-body{

                @fade-font-color: #8a8a8a;

                .abs-div-2(none, -264,-283,521,410,"happy-end-form-body.m.png");

                select{

                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    background: url("../images/select-arrow.m.png") no-repeat;
                    background-color: rgba(0,0,0,0);
                    background-position: right 8px;

                    letter-spacing: 1px;

                    height: 34px;

                    border: none;

                    cursor: pointer;

                    text-align: left;
                    text-align-last: left;

                    .default-font(20px, @fade-font-color);

                    option{
                        .default-font(14px, black);
                        background:white;
                        text-align: center;
                        text-align-last:center;
                    }
                    optgroup{
                        .default-font(20px, black);
                        background:white;
                        text-align: center;
                        text-align-last:center;
                    }

                    &::-ms-expand {
                        display: none;
                    }

                    &.white-mode{
                        color: white;
                    }
                }

                .birthday-fields{
                    position: absolute;
                    left: 108px;
                    top: 270px;

                    #select-year, #select-month, #select-day{
                        position: absolute;
                        width: 124px;
                        color: white;
                    }

                    #select-year{
                        left: 8px
                    }

                    #select-month{
                        left: 144px;
                    }


                    #select-day{
                        left: 280px;
                    }
                }

                .gender-select{
                    position: absolute;
                    left: 433px;
                    top: 26px;
                    width: 89px;
                }

                .address-county{position: absolute;
                    left: 118px;
                    top: 351px;
                    width: 100px;
                    color: white;
                }

                .address-zone{position: absolute;
                    left: 227px;
                    top: 351px;
                    width: 100px;
                    color: white;
                }

                input{
                    .default-font(20px, white);

                    border: none;
                    //                background:rgba(0,0,0,.3);
                    background: none;
                    height:24px;
                    width: 100px;

                    letter-spacing: 1px;

                    &.hint-mode{
                        color:@fade-font-color;
                    }
                }

                .family-name{
                    position: absolute;
                    left: 108px;
                    top: 30px;
                    width: 60px;
                }

                .user-name{
                    position: absolute;
                    left: 271px;
                    top: 30px;
                    width: 60px;
                }

                .user-email{
                    position: absolute;
                    left: 109px;
                    top: 112px;
                    width: 410px;
                }

                .user-phone{
                    position: absolute;
                    left: 109px;
                    top: 193px;
                    width: 410px;
                    text-align: left;
                }

                .address-detail{
                    position: absolute;
                    left: 349px;
                    top: 356px;
                    width: 160px;
                }

            }

        }
    }


}