.my-percent-div(@selector; @left; @top; @width; @height; @src: none;){

    @ratio: 1920 / 1200;

    .percent-div(@selector; @left * @ratio; @top * @ratio; @width * @ratio; @height * @ratio; @src;);
}

.my-layout(@src){

    .layout(@src);
    .layout{
        background-position: center center;
        background-size: contain;
    }
}

/** intro **/
#intro{

    position: absolute;
    width: 100%;
    height: 100%;

    .background{
        position: absolute;
        width: 100%;
        height: 100%;
        .image-bg("intro-background.jpg", cover);
    }

    .my-layout("layouts/intro-pc.jpg");

    .wrapper{
        .percent-container();

        .percent-div(left-content, -754,-263,496,324, "intro-content.png");

        .btn-play{

            .percent-div(none, -689,105, 337, 94);

            .normal-state{

                position: absolute;
                .image-bg("intro-btn-play.png", cover);
                width: 100%;
                height: 100%;
                opacity: 1;


                pointer-events: none;
                transition-delay:0s;
            }


            .hover-state{

                position: absolute;
//                .image-bg("intro-btn-play.png", cover);
                background-color: blue;
                width: 100%;
                height: 100%;
                opacity: 0;


                pointer-events: none;

                visibility:hidden;
                transition:visibility 0s linear 0.4s,opacity 0.4s ease-out;
            }

            &:hover{
                cursor: pointer;
                .normal-state{
                    opacity: 0;
                    visibility:hidden;
                    transition:visibility 0s linear 0.4s,opacity 0.4s ease-out;
                }

                .hover-state{
                    opacity: 1;
                    visibility:visible;
                    transition-delay:0s;
                }
            }
        }

    }

}


/** story **/
#story{

    position: absolute;
    width: 100%;
    height: 100%;

    .my-layout("layouts/story-pc.jpg");
    .layout{
        z-index: 2;
    }

    .scene-canvas{
        position: absolute;
        width: 100%;
        height: 100%;
        touch-action: none;
    }

    .buttons{
        z-index: 3;
        position: absolute;
        right: 279px;
        top:18px;

        width: 0;
        height: 0;

        .fade-btn-2(btn-exit, "story-btn-exit.png", 0, 0, 51, 52);
        .fade-btn-2(btn-help, "story-btn-help.png", 70, 0, 51, 52);
        .fade-btn-2(btn-evidence, "story-btn-evidence.png", 140, 0, 51, 52);
    }

    .wrapper{
        .percent-container();

    }

}